<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>house Price Prediction </title>
    <style>
        body{
            background-image : url(https://images.unsplash.com/photo-1592595896551-12b371d546d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHw%3D&w=1000&q=80);
            background-size: cover;
        }
    </style>
</head>

<body style="background-color: rgb(84, 80, 0);">
   
   <h1> 
    <center> <b>house Price Prediction</b></center></h1>
    <form method="POST" action="/real_estate_pred">


        <label>No:</label>
        <input type = "text" name = "No">
         
        </select>
        <br>
        <br>
<!-- ################################################ -->
        <label>Transaction Date:</label>
        <input type = "text" name = "X1_transaction_date">
        </select>
        <br>
        <br>
<!-- ############################################## -->
        <label>House Age:</label>
        <input type = "text" name = "X2_house_age">
        
        </select>
        <br>
        <br>
 <!-- ################################################ -->
        <label>Distance to the nearest MRT station:</label>
        <input type = "text" name = "X3_distance_to_the_nearest_MRT_station">
        </select>
        <br>
        <br>
<!-- ############################################## -->
        <label>Number of convenience stores:</label>
        <input type = "text" name = "X4_number_of_convenience_stores">
        </select>
        <br>
        <br>
<!-- ################################################ -->
         <label>Latitude:</label>
         <input type = "text" name = "X5_latitude">
         </select>
         <br>
         <br>
<!-- ############################################## -->
        <label>Longitude:</label>
        <input type = "text" name = "X6_longitude">
        </select>
        <br>
        <br>
<!-- ################################################ -->



        <input type = "submit" value="SUBMIT">

        <br>

        <!-- <h4><strong> <b> {{prediction}} </b> </strong></h4> -->
        <h4><strong>Your home price charges will be <b> {{prediction}} /- Rs.</b> Only </strong></h4>



    </form>


</body>
</html>

